body{
    margin: 0;
    padding: 0;
    background-color:#E6F4F1/*rgb(239 239 239 / 70%)*/;
    font-family: 'Arial';
}

h1{
    text-align: center;
    color: rgb(49, 47, 47);
    margin: 40px 50px 50px 50px;
    font-size:300%;
}

h3{
    text-align: center;
    color: #277582;
    padding: 10px;
    font-size:150%;
}

.login-form{
    text-align: center;
    width: 322px;
    overflow: hidden;
    margin: auto;
    margin: 10 0 0 10px;
    padding: 60px;
    background: #b6d8f5;
    border-radius: 15px ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

label{
    color: #242121;
    font-size: 17px;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    border-radius: 15px ;
}

#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}