*{
    margin: 0px;
    padding: 0px;
}

/* MENU */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}


.background{
    background:rgba(86, 157, 216, 0.7);
    background-size: cover;
}


.nav-list{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color:White;
    width: 70%;
    display: flex;
    align-items: center;
}


.nav-list li{
    list-style: none;
    padding: 31px 34px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}


.nav-list li a{
    text-decoration: none;
    color: white;
}


.nav-list li a:hover{
    color: black;
}

.btn{
    padding: 8px 20px;
    margin: 7px 6px;
    border: 2px solid white;
    border-radius: 50px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 254, 254);
    background-color:rgb(0, 0, 0);
}
/* FIN MENU */

/* BODY */

h1{
    text-align: center;
    color: rgb(49, 47, 47);
    margin: 40px 50px 50px 50px;
    font-size:300%;
}

h3{
    text-align: center;
    color: #277582;
    padding: 10px;
    font-size:150%;
}

.container{
    font-family: 'Arial';
    text-align: center;
    width: 322px;
    overflow: hidden;
    margin: auto;
    /*margin: 10 0 0 10px; */
    padding: 40px;
    background: rgba(86, 157, 216, 0.5);
    border-radius: 15px ;
   /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.radioBtnDoc{
    display: block;
    text-align: left;
    margin-left: 35%;
}

label {
    display: inline-block;
    width: 110px;
    color: #000000;
    margin-bottom: 5px;
}
input {
    padding: 0 10px;
}

.log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 10px;
}

.select{
    width: 80%;
}